<h2>My Friend(s)</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Avatar</th>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let userProfile of userProfiles">
			<td>
				<img [src]="userProfile.imgPath" alt="{{ userProfile.name }}" class="img-responsive" style="max-height: 50px;">
			</td>
			<td>{{ userProfile.name }}</td>
			<td>{{ userProfile.surname }}</td>
			<td>{{ userProfile.nickname }}</td>
		</tr>
	</tbody>
</table>